/*Petits écrans*/
@media all and (max-width: 768px) {
  /*Global*/
  section {
    margin: 5%;
  }

  /*Changement header*/
  header {
    flex-direction: column;
    width: 100%;
  }

  .logo {
    width: 100%;
    justify-content: center;
  }

  .logo__size {
    width: 80px;
  }

  /*Changement Nav*/
  nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  nav {
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 5px;
    width: 100%;

    border-bottom: 3px solid silver;
  }

  nav a {
    padding-bottom: 22px;
    width: 100%;
  }

  nav a:hover {
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
    border-top: none;
  }

  /*Search*/
  .searchinput {
  }

  .searchsend {
    display: none;
  }

  .searchsend__littlescreen,
  .searchsend__icon {
    display: flex;
  }

  .searchsend__littlescreen {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #0065fc;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchsend__icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*Filtres*/
  .filtre {
    flex-direction: column;
    align-items: flex-start;
  }

  .filtre__withouttitle {
    display: flex;
    flex-wrap: wrap;

  }

  /*Popular*/
    .popular {
      width: 100%;
      border-radius: 0;
    }

    /*Hosting*/
    .hosting {
      flex-direction: column-reverse;
      align-content: center;

    }

    .hosting__box {
      width: 80%;
      min-width: 0;
      margin: 5%;
      background-color: white;
    }

    .lodging {
      flex-direction: column;
    }

    .lodging__fig {
      width: 80%;
    }

    /*Activity*/
    .activity__storage {
      flex-direction: column;
    }

    .activity__box {
      width: 90%;
      align-content: center;
    }
}
